/* color palette
#020659
#020873
#030A8C
#0D8DF8 
#2104D9 
#2699FB
#590242 
*/

/* CSS reset */




/* Global Styles */

html {
  font-family: verdana, geneva, tahoma, sans-serif; 
  background-color: #020659;
  box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0 auto;
    width: 375px;
    background-color: #ffffff;
}

header{
    background-image: linear-gradient(to right, black, #2104D9);
}

nav {
    position: absolute;
    top: 0px;
    z-index: 1;
}

ul {
    width: 375px;
}

footer {
    background-color:#ffffff;
    padding: 30px;
    text-align: center;
}

/* text */

body {
    font-family: Optima, sans-serif;
    color:#ffffff;
}

header {
    background-color: #030A8C;
}

header h1 {
    padding-top: 2px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 0px;
    font-size: 1.25em;
    line-height: 2em;
}

header p {
    margin-top: 0px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px
}

h1, h2, h3 {
    font-weight: bold;
    text-transform: uppercase;
}

h2, h3 {
    font-size: 1em;
    color: #590242;
    line-height: 2em;
}

nav h2 {
    visibility:hidden;
    height: 1px;
}

ul {
    background-color: #030A8C;
    color: #ffffff;
    height: 200px;
}

li, a {
    text-decoration: none;
    list-style: none;
    color: #ffffff;
    padding-top: 5px;
}

.description {
    position: relative;
    top: 75px;
    background-image: linear-gradient(to right, #2104D9, black)
}

.logo {
    position:absolute;
    top: 30px;
    right: 80px;
    font-size: 2em;
    text-decoration: none;
    color:#ffffff;
    font-variant: small-caps;
}

p, dl, dd {
    font-size:1em
}

footer p {
    font-size: .75em;
    color:#590242;
}

/*trending*/
#trending {
    padding-top:100px;
}

#trending h2 {
    padding-left: 10px;
}

/*your playlists*/
#playlists {
   padding: 10px;
}

#playlists h2 {
    padding-left: 10px;
}

#playlists div {
    background-color:#2699FB;
}

#playlists section{
    height: 300px;
    background-color:#0D8DF8;
    margin: 0px;
}

.playlists-blue {
    background-color: #0D8DF8;
    height:300px;
    width: 200px;   
}

#playlists .scroll div {
    top: 0px;
}

/*curated playlists*/

#curated {
    padding: 10px;
}

#curated h2 {
    padding-left: 10px;
}

#curated div {
    background-color:#030A8C;
}
#curated section {
    height: 300px;
    
}

.curated-blue {
    background-color: #020659;
    height:300px;
    width: 200px; 
}

#curated .scroll div {
    top: 0px;
    background-color:#030A8C;
}


/* custom scroll */

.scroll {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    overflow-x: auto;
    overflow-y: hidden;
}

.scroll section {
    margin: 10px;
    position: relative;
}

.scroll div {
    position: absolute;
    top: 251px;
    background-color: rgba(255,255,255,.75);
    padding: 5px;
    height: 50px;
    width: 350px; 
}

dl {
    display: flex;
}

dt {
    padding-right: 5px;
}

audio {
    position: absolute;
    bottom:150px;
    left: 5px;
}

.more {
    text-decoration: none;
    background-color: #590242;
    color: #ffffff;
    border-radius: 5px;
    padding: 10px;
    width: 150px;
    display: block;
    text-align: center;
    margin: 10px 0 30px 32px;
}

.more:hover {
    background-color: #020659;
}

audio::-webkit-media-controls-mute-button {
    background-color: #ffffff;
    border-radius: 50%;
}

audio::-webkit-media-controls-play-button {
    background-color: #ffffff;
    border-radius: 50%;
}

audio::-webkit-media-controls-enclosure {
    background-color: rgba(255, 255, 255, .5);
}

#trending ::-webkit-scrollbar {
    width: 15px;
}

#trending ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 15px #590242;
}

#trending ::-webkit-scrollbar-thumb {
    background: #590242;
    border-radius: 5px;
}

#trending ::-webkit-scrollbar-thumb:hover {
    background: #020659;
}

#playlists ::-webkit-scrollbar, #curated ::-webkit-scrollbar {
    width: 15px;
}

#playlists ::-webkit-scrollbar-track, #curated ::-webkit-scrollbar-track  {
    box-shadow: inset 0 0 15px #020659;
}

#playlists ::-webkit-scrollbar-thumb, #curated ::-webkit-scrollbar-thumb {
    background: #020659;
    border-radius: 5px;
}

#playlists ::-webkit-scrollbar-thumb:hover, #curated ::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
}


/* hamburger */

ul {
    text-align: center;
    overflow: hidden;
    max-height: 0;
    transition: max-height .2s ease-out;
    
}

label {
    cursor: pointer;
    display: inline-block;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

label span {
    background-color: #ffffff;
    display: block;
    height: 2px;
    position: relative;
    transition: background-color .2s ease-out;
    width: 18px;
}

label span:before, label span:after {
    background: #ffffff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

label span:before {
    top: 5px;
}

label span:after {
    top: -5px;
}

input {
    display: none;
}

input:checked ~ ul {
    max-height: 500px;
}

input:checked ~ label span {
    background: transparent;
}

input:checked ~ label span:before {
    transform: rotate(-45deg);
}

input:checked ~ label span:after {
    transform: rotate(45deg);
}

input:checked ~ label:not(.steps) span:before, input:checked ~ label:not(.steps) span:after {
    top: 0;
}


@media screen and (min-width:834px) {
    body {
        width: 834px;
    }

    ul {
        overflow: visible;
        position: absolute;
        top: 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        background-color: transparent;
        justify-content: center;
        width: 834px;
        padding-top: 10px;
    }
    
    li, a {
        text-align: center;
        padding: 0px;
    }

    .logo {
        position: relative;
        top: 0px;
        left: -30px;
    }
   
    label span, input {
        display: none;
    }
}

